{:dependencies [[org.clojure/core.async "0.4.474"]
                [org.clojure/tools.reader "1.3.0"]
                [org.clojure/spec.alpha "0.2.176"]
                [org.clojure/test.check "0.10.0-alpha3"]
                [fipp "0.6.12"]]

 :source-paths
 ["src"]

 :builds
 {:main {:target     :node-script
         :output-dir "lib"
         :output-to  "lib/index.js"
         ;; :modules
         :main       csnd.core/main}}}
