{:dependencies [[org.clojure/core.async "0.4.474"]]

 :source-paths
 ["src"]

 :builds
 {:main {:target     :node-script
         :output-dir "lib"
         :output-to  "lib/index.js"
         ;; :modules
         :main       csnd.core/main}}}
